<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>

    <form action='/login' method='post'>
    Email:    <input type="text" placeholder="email" name="email">
    <br>
    Password: <input type="password" placeholder="password" name="password">
              <input type="submit" value="Login">
  </form>
  <br>
  <p><%= @message %></p>
  <a href='/create'>Click here to create an account</a>
</div>
